.product {
  position: relative;
  height: 300px;
  width: 33%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}

.product-description {
  position: static;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0%;
}

.product-description:hover {
  opacity: 100%;
}

.product-img {
  width: 100px;
}

@media screen and (max-width: 700px) {
  .product {
    width: 100%;
  }
}

.navbar {
  color: dimgray;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.navbar-item {
  float: left;
  margin: 10px;
}

@media screen and (max-width: 700px) {
  .navbar {
    margin-top: 50px;
  }
}

.cart {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 300px;
}

.cart-item {
  float: left;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: solid black 3px;
  border-radius: 3px;
}

.cart-item a {
  color: dimgray;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 20px;
}

.cart-icon {
  top: 0;
  right: 0;
  float: right;
  position: absolute;
}

.cart-icon #cart-icon-img {
  width: 35px;
  margin-top: 30px;
  float: left;
  margin-right: 0px;
}

.cart-icon a {
  text-decoration: none;
}

.cart-icon p {
  display: block;
  text-align: center;
  background-color: red;
  color: white;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  margin-top: 25px;
  margin-right: 0px;
}

.cart-info {
  padding-top: 40px;
  text-align: center;
  height: 100%;
  width: 80%;
  float: left;
}

.cart-info div {
  float: left;
}

.cart-sum {
  height: 16px;
  border-radius: 8px;
  color: white;
  padding: 8px;
  display: block;
  background-color: #046d00;
  float: right;
}

@media screen and (max-width: 700px) {
  .cart {
    width: 100%;
  }
  .cart-img {
    width: 30px;
  }
  .cart-icon {
    position: fixed;
    float: left;
    margin-right: 10px;
    width: 10%;
  }
}

.footer {
  float: left;
  margin-top: 100px;
  height: 200px;
  bottom: 0px;
  width: 100%;
}

.footer-item {
  padding-bottom: 10px;
  background-color: dimgray;
  color: white;
  height: 100%;
  width: 33%;
  float: left;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .footer-item {
    width: 100%;
  }
}

.inventory {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#addBtn {
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  color: white;
  border-radius: 5px;
  background-color: red;
}

#addBtn:hover {
  background-color: darkred;
}

#thumb {
  width: 20%;
  float: left;
}

#removeBtn {
  height: 25px;
  cursor: pointer;
}

.deals {
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 100px;
}

.deals img {
  width: 150px;
  height: 150px;
}

#content {
  position: relative;
  text-align: center;
  width: 33%;
  float: left;
  background-color: rgba(227, 250, 165, 0.658);
}

#title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: dimgray;
  width: 60%;
  border-bottom: solid red 5px;
  border-radius: 5px;
  text-align: center;
}

#icon {
  padding-right: 15px;
  margin-bottom: 10px;
  height: 25px;
  float: right;
}

.socials {
  z-index: 1;
  border: solid black 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

td {
  padding: 15px;
  font-size: 16px;
}

#message {
  width: 30%;
  float: left;
}

.contact {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}

#map {
  width: 60%;
  float: left;
}

#mapImg {
  width: 80%;
  float: left;
  margin-left: 20%;
}

#mobileBanner {
  visibility: hidden;
}

@media screen and (max-width: 700px) {
  .contact {
    width: 80%;
  }
  #logo {
    visibility: hidden;
    width: 0%;
  }
  #content {
    margin-bottom: 100px;
    width: 100%;
  }
  #message {
    width: 100%;
  }
  #map {
    width: 100%;
  }
  #mapImg {
    width: 100%;
    margin-top: 50px;
    margin-left: 0%;
  }
  #bannerFont {
    visibility: hidden;
    height: 0%;
    width: 0%;
  }
  #mobileBanner {
    color: white;
    background-color: black;
    visibility: visible;
    height: 500px;
    margin-top: -50px;
  }
  #bannerImg {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
/*# sourceMappingURL=index.css.map */