.product{
    position: relative;
    height: 300px;
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

.product-description{
    position: static;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0%;

    &:hover{
        opacity: 100%;
    }
}
