body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  color: dimgray;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.navbar-item{
  float: left;
  margin: 10px;
}

.inventory{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.product{
  position: relative;
  height: 300px;
  width: 33%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}

#addBtn{
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  color: white;
  border-radius: 5px;
  background-color: red;
}

#addBtn:hover{
  background-color: darkred;
}

#pDesc{
  position: static;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0%;
}

#pDesc:hover{
  opacity: 100%;
}

#pImg{
  width: 100px;
}

#cart{
  top: 0;
  right: 0;
  float: right;
  position: absolute;
}

#cart a{
  text-decoration: none;
}

#cartImg{
  width: 35px;
  margin-top: 30px;
  float:left;
  margin-right: 0px;
}

.cart{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 300px;
}

.cartItem{
  float: left;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: solid black 3px;
  border-radius: 3px;
}

#sum{
  height: 16px;
  border-radius: 8px;
  color: white;
  padding: 8px;
  display: block;
  background-color: rgb(4, 109, 0);
  float: right;
}

#thumb{
  width: 20%;
  float: left;
}

#cartInfo{
  padding-top: 40px;
  text-align: center;
  height: 100%;
  width: 80%;
  float: left;
}

#cartInfo div{
  float: left;
}

#removeBtn{
  height: 25px;
  cursor: pointer;
}


.deals{
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 100px;
  
}

.deals img{
  width: 150px;
  height: 150px;
}

#content{
  position: relative;
  text-align: center;
  width: 33%;
  float: left;
  background-color: rgba(227, 250, 165, 0.658);
}


#title{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: dimgray;
  width: 60%;
  border-bottom: solid red 5px;
  border-radius: 5px;
  text-align: center;
}

#icon{
  padding-right: 15px;
  margin-bottom: 10px;
  height: 25px;
  float: right;
}

.socials{
  z-index: 1;
  border: solid black 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}


td{
  padding: 15px;
  font-size: 16px;
}

.footer{
  float: left;
  margin-top: 100px;
  height: 200px;
  bottom: 0px;
  width: 100%;
}

#footerItem{
  padding-bottom: 10px;
  background-color: dimgray;
  color: white;
  height: 100%;
  width: 33%;
  float: left;
  text-align: center;
}
 
#message{
  width: 30%;  
  float: left;
}

.contact{
  width:60%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}

#map{
  width: 60%;
  float: left;
}

#mapImg{
  width: 80%;
  float: left;
  margin-left: 20%;
}

#mobileBanner{
  visibility: hidden;
}

@media screen and (max-width: 700px){

  .contact{
    width: 80%;
  }

  #cartImg{
    width: 30px;
  }

  .product{
    width: 100%;
  }

  .navBar{
    margin-top: 50px;
  }

  #logo{
    visibility: hidden;
    width: 0%;
  }

  #cart{
    position: fixed;
    float: left;
    margin-right: 10px;
    width: 10%;
  }

  #content{
    margin-bottom: 100px;
    width: 100%;
  }

  #message{
    width: 100%;
  }

  #map{
    width: 100%;
  }

  #mapImg{
    width: 100%;
    margin-top: 50px;
    margin-left: 0%;
  }

  #footerItem{
    width: 100%;
  }

  .cart{
    width: 100%;
  }

  #bannerFont{
    visibility: hidden;
    height: 0%;
    width: 0%;
  }

  #mobileBanner{
    color: white;
    background-color: black;
    visibility: visible;
    height: 500px;
    margin-top: -50px;
  }

  #bannerImg{
    visibility: hidden;
    width:0px;
    height: 0px;
  }
}